In [13]:
## import dependencies

from mixpanel_api import Mixpanel
import pandas as pd
from pandas.io.json import json_normalize
import requests
import json
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
import mpld3
import numpy as np
import seaborn as sns
import scipy as stats
import statsmodels.api as sm
import sklearn
pd.set_option('display.max_rows', None)

In [14]:
file_1 = "../db/amplify_db.csv"
raw_data_df = pd.read_csv(file_1)
raw_data_df.head()

,index,Artist,artist_uri,genre,popularity_transformed,average_age,percent_female
0,0,Ed Sheeran,spotify:artist:6eUKZXaKkcviH0Ku9w2n3V,Pop,65.296980,27.711369,0.582807
1,1,Billie Eilish,spotify:artist:6qqNVTkY8uBg9cP3Jd7DAH,Pop,56.075680,25.668671,0.637560
2,2,J Balvin,spotify:artist:1vyhD5VmyZ7KMfW5gqLgo5,"Latin, World Hip Hop, World Pop",51.431778,26.480499,0.518023
3,3,Bad Bunny,spotify:artist:4q3ewBCX7sLwd24euuV69X,"Latin, World Hip Hop",50.430630,25.964615,0.474236
4,4,Shawn Mendes,spotify:artist:7n2wHs1TKAczGzO7Dd2rGr,"Pop, World Pop",49.605470,26.393292,0.646139

In [15]:
len(raw_data_df)

500000

In [16]:
# new data frame with split value columns 
new = raw_data_df["artist_uri"].str.split(":", n = 2, expand = True) 
  
# making separate columns for the uri only
raw_data_df["uri"]= new[2] 

# Dropping old Name columns 
raw_data_df.drop(columns =["artist_uri"], inplace = True) 
raw_data_df.head()

,index,Artist,genre,popularity_transformed,average_age,percent_female,uri
0,0,Ed Sheeran,Pop,65.296980,27.711369,0.582807,6eUKZXaKkcviH0Ku9w2n3V
1,1,Billie Eilish,Pop,56.075680,25.668671,0.637560,6qqNVTkY8uBg9cP3Jd7DAH
2,2,J Balvin,"Latin, World Hip Hop, World Pop",51.431778,26.480499,0.518023,1vyhD5VmyZ7KMfW5gqLgo5
3,3,Bad Bunny,"Latin, World Hip Hop",50.430630,25.964615,0.474236,4q3ewBCX7sLwd24euuV69X
4,4,Shawn Mendes,"Pop, World Pop",49.605470,26.393292,0.646139,7n2wHs1TKAczGzO7Dd2rGr

In [17]:
# create sqlite database
from sqlalchemy import create_engine
engine = create_engine('sqlite:///amplify_db.sqlite', echo=False)

raw_data_df.to_sql('amplify_db', con=engine, if_exists='replace')
# engine.execute("SELECT * FROM Food_file").fetchall()

In [18]:
len(raw_data_df)

500000